/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at top center, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
}

header {
  padding: 2rem;
}